
/*Landing page*/
.landing-page{
  display:flex;
  height:200vh;
  justify-content:center;
  align-items:center;
  text-align:center;
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center;
  background-color: #000;
  background-image: url("./images/art\(1\).jpg");
}

.landing-text-inner{
  background:rgba(0,0,0,0.6);
  padding:5rem 3rem;
  display:block;
  width:75%;
  color:red;
}
.btn{
  text-decoration:none;
  color:#fff;
  border:1px solid #eeeeee;
  padding:1rem 3rem;
  display:inline-block;
  margin:2rem 0 0;
  border-radius:50px;
  transition: all 700ms ease-out;
}
.btn:hover{
  background:red;
  color:#000;
}
/*Page with all the information about me on*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,600,700);
html,
body {
  font-family: 'Open Sans', sans-serif;
  color: black;
  line-height: 1.8;
  font-weight: 300;
  font-size: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 190%;
  margin: 0;
}

header section {
  position: relative;
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
}

article {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
}

.container {
  position: relative;
  width: 90%;
  max-width: 1080px;
  margin: 30px auto 0 auto;
  padding-bottom: 500px;
}

.container article {
  padding: 70px 0 0 0;
}


/* Nav */
nav {
  position: fixed;
  width: 100%;
  background: rgba(0, 0, 0, 0.9);
  top: 0;
  left: 0;
  z-index: 999;
}

nav ul {
  margin: 0;
  padding: 0;
  display: block;
  text-align: center;
}

nav li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: inline-block;
  *display: inline;
  zoom: 1;
}

nav li a {
  display: block;
  padding: 20px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .3s ease-in-out;
  font-size: 90%;
  font-size: 600;
}

nav li a:hover {
  background: rgba(255, 255, 255, 0.1);
}

#navbar .active a {
  background: rgb(0, 157, 234);
}

/*Profile card*/
.card {
  border: 1px solid #ddd;
  border-radius: 1px;
  padding: 10px;
  max-width: 220px;
  margin: auto;
  background-color: #fafafa;
  display: flex;
  align-items: center;
  flex-direction: column;
}


#no-avatar {
  width: 200px;
  height: 200px;
  font-size: 7rem;
  color: black;
  border-radius: 50%;
  background-color: red;
  text-align: center;
  line-height: 200px;
}


/*Portfolio*/
body
{
  font-family: 'Arimo';
  margin:0; 
  padding:0;
 background: rgb(2,0,36);
}
/*This is the basic setup for the page as a whole
-font-family is an imported font that I think looks cool 
-margin and padding set to 0 to ensure that content is not on the right edge of the page 
-background sets the basic blue color in use.I like the space blue vibe it gives off 
*/

h1 
{
color: white;
text-align: center;
font-style: italic;
font-size: 2rem
}
.gallery 
{
display: grid;
grid-template-columns: repeat(auto-fit,minmax(17rem,1fr));
grid-auto-rows: 14rem;
grid-gap: 1rem;
grid-auto-flow: dense;
justify-items: center; 
margin: 1%; 
padding: 2rem;
}
/*Parameters for the Grid of images 
-display grid: will show the content in one grid 
-template-columns: sets the min and mix size of the columns for the grid depending on the size of the page 
-auto-rows: sets the heught of each row. You could set mins and max for this, but I felt like it looked better with a singular value for right now. Plus there is still a decent level of responsive transition moving from desktop to phone 
-grid gap: just used for spacing so each div isnt extremely close to the other 
-auto flow dense: used for placement arrangement 
*/

img 
{
height: 200;
width: 200;
object-fit: cover;
display:block;
}
/*Used to ensure that the images maintain their full height and width*/

div 
{
 overflow: hidden;
 text-align: center; 
 position: relative;
}

.bio 
{
color: white;
position:absolute;
}

.art:hover 
{
transform: scale(1.05);
cursor: pointer; 
border: 5px solid white; 
}

/*Resume*/
body {
  background-color: white;
  font-family: 'Gudea', sans-serif;
  margin: 5% 15% 5% 15%;
}

.name {
  color: #DF723E;
  display: inline-block;
  font-size: 1.4em;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.contact-information, .links-container {
  color: #808284;
  display: inline-block;
  font-size: .8em;
  letter-spacing: 1px;
  line-height: .9em;
  text-transform: uppercase;
}

.contact-deets {
  color: #58585B;
  display: inline-block;
  margin-bottom: 2%;
  margin-top: 1.1em;
  text-decoration: none;
}

.links {
  color: #58585B;
  display: inline-block;
  text-decoration: none;
}
  .links:hover {
    color: #DF723E;
  }

.links img {
  margin-bottom: -.2em;
  padding-right: .3em;
  padding-left: .3em;
}

.primary-titles {
  color: #DF723E;
  display: inline-block;
  font-size: .9em;
  letter-spacing: 1px;
  margin-bottom: -1%;
  text-decoration: none;
}

.location {
  color: #58585B;
  display: inline-block;
  font-size: .8em;
  letter-spacing: 2px;
  margin-bottom: -1%;
  margin-top: 1.1em;
  padding-left: .4em;
  text-transform: uppercase;
}

.category-headers {
  color: #DF723E;
  font-size: .9em;
  letter-spacing: 2px;
  margin-top: 3em;
  margin-bottom: .1em;
  text-transform: uppercase;
}

.category-details {
  color: #808284;
  font-size: .9em;
  font-style: italic;
  line-height: 1.4em;
  margin-bottom: 1%;
  margin-left: 2%;
  margin-top: .5em;
  /*margin-top: -1%;*/
}

.category-description-main {
  color: #808284;
  font-size: .9em;
  line-height: 1.4em;
  margin-bottom: 1%;
  margin-left: 2%;
  margin-right: 7%;
  margin-top: 1em;
}

.category-description {
  color: #808284;
  font-size: .9em;
  line-height: 1.4em;
  margin-bottom: 1%;
  margin-left: 2%;
  margin-right: 7%;
  margin-top: .01em;
}

hr {
  border: 1px dotted #A7A9AB;
  border-style: none none dotted; 
  margin: 0 10% 0 0;
}
/*Skill bar*/
.skillbar {
	position:relative;
	display:block;
	margin-bottom:15px;
	width:100%;
	background:#eee;
	height:35px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
}

.skillbar-title {
	position:absolute;
	top:0;
	left:0;
  width:110px;
	font-weight:bold;
	font-size:13px;
	color:#ffffff;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-title span {
	display:block;
	background:rgba(0, 0, 0, 0.1);
	padding:0 20px;
	height:35px;
	line-height:35px;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skill-bar-percent {
	position:absolute;
	right:10px;
	top:0;
	font-size:11px;
	height:35px;
	line-height:35px;
	color:black;
}
/*Testimonials*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

*{
  box-sizing:border-box;
}
html, body{
  height:100%;
  font: normal 1em/1.5 "Open Sans";
  background:url("https://sarasoueidan.com/blog/windows8-animations/SourceCode/images/1.png");
  background-size:cover;
}
a{
  color:#ccc;
}
.container{
  width:500px;
  min-height:315px;
  margin:0 auto;
  background: url('http://assets7.pinimg.com/upload/276830708316574712_Yb2N03Ey.jpg');
  position:relative;
  padding-bottom:30px;
  overflow:hidden;
}
h1{
  text-align:center;
  text-shadow:0 1px white;
  color:#02303F;
}
h2{
  color:#736861; 
  margin:15px 0 5px;
  text-shadow:0 1px rgba(255,255,255,0.5);
}
h6{
  color:#928566; 
  margin:0;
}
input[type="radio"] {
position: absolute;
width: 1px; /* Setting this to 0 make it invisible for VoiceOver */
height: 1px; /* Setting this to 0 make it invisible for VoiceOver */
padding: 0;
margin: -1px;
border: 0;
clip: rect(0 0 0 0);
overflow: hidden;
}
label{
  display:block;
  width:32%;
  border: 4px solid white;
  position:absolute;
  bottom:5px;
  cursor: pointer;
  transition: border-color 0.3s linear;
}

label.second{
  left:34%;
}
label.third{
  left:68%;
}

blockquote{
  margin:0;
  padding:30px;
  width:500px;
  background-color: #DB532B;
  color:white;
  box-shadow: 0 5px 2px rgba(0,0,0,0.1);
  position:relative;
  transition: background-color 0.6s linear;
}

blockquote:after { 
  content: " "; 
  height: 0; 
  width: 0; 
  position: absolute; 
  top: 100%; 
  border: solid transparent; 
  border-top-color: #DA532B;
  border-left-color:#DA532B;
  border-width: 10px; 
  left: 10%; 
} 
#second:checked ~ .two blockquote {
  background-color:purple;
}
.two blockquote:after{
  border: solid transparent; 
  border-top-color: purple;
  border-left-color:purple;
  border-width: 10px;
}
#third:checked ~ .three blockquote{
  background-color:#54885F;
}
.three blockquote:after{
  border: solid transparent; 
  border-top-color: #54885F;
  border-left-color: #54885F;
  border-width: 10px;
}
.quotes{
  position:absolute;
  color:rgba(255,255,255,0.5);
  font-size:5em;
}
.leftq{
  top:-25px;
  left:5px;
}
.rightq{
  bottom:-10px;
  right:5px;
}
img{
  float:left;
  margin-right: 20px;
}
.slide{
  position:absolute;
  left:-100%;
  opacity:0;
  transition: all 0.6s ease-in;
}

#first:checked ~ label.first {
  border-width:6px;
  border-color:#DB532B;
}
#second:checked ~ label.second {
  border-width:6px; border-color:purple;
}
#third:checked ~ label.third {
  border:6px solid #54885F;
}

#first:checked ~ div.one {
  left:0;
  opacity:1;
}
#second:checked ~ div.two {
  left:0;
  opacity:1;
}
#third:checked ~ div.three {
  left:0;
  opacity:1;
}
